f {
    margin: 0;
    padding: 0;
}
body
{
    width:100%;
    height: 100%;

}


.hoja
{   
    background-color: #FFFFFF;
    top:0;
}


.logo{
    position: absolute;
    top: 0;
    background:  #2057A4;
    width: 100%;
    height:100% ;
   
}

.logo img{
  left : 218px;  
  top: 400px;
  position: absolute;
  padding: auto;
  width: 45%;
}


#nav-bar
{
    background-color:#2057A4 ;
    top:0px;
    position: relative;
    width: 100%;
    height: 100px;
    
}
.navbar-brand img
{   
    top:0px;
    position: relative;
    height: 70px;
    padding-left: 30px;
    padding-top: 25px;

}

.navbar-nav li
{
    padding: 20px 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

.navbar
{
    background: #2057A4;
}
.navbar-toggler
{
    border: none !important;
}
.nav-link
{
    color: #FFFFFF!important;
    font-weight: 700;
    font-size: 26px;
}


.bodypart{
  padding:4%;
  background:#FFFFFF;
}

.bodypart h1{
    text-align: center;
    color: #2057A4;
    padding-top: 30px; 
    padding-bottom: 20px;
}

.bodypart h5{
    text-align: center;
    color: #2057A4;
    padding-top: 0px; 
    padding-bottom: 5px;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}




#details .col-md-3:hover
{
    background-color: #2057A4;
    cursor: pointer;
    transition: 0.7s;
    
}


#thirdpage div img{
      position: relative;
      display: inline-block;
      align-items: center;
      width: 30%;
      padding-bottom: 5px;
      margin: 5% 25%;
}



.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


.bodypart2{
  padding:6%;
  background:#FFFFFF;
}


.line .d-flex{
     border-bottom: 1px solid rgba(0,0,0,1);


}

.bg-primary2{

    background-color: #2057A4 !important;
    height:25px;
    width: 70%;
    text-align: left;
    color: #FFFFFF;
    margin: auto;
    padding:5px 10px;    
}


.bg-primary2 h5{

    text-align: left;
    color: #FFFFFF;
    margin: auto;    
}

.bg-primary1{
    background-color: #FFFFFF;
    height:90px;
    width: 70%;
    margin: auto;    
}


.bg-primary1 h2{
    color: #2057A4 !important;
    background-color: #FFFFFF !important;
    width: 100%;
    text-align: center;
    padding: 30px 0px 20px 0px;    
}




.progress-bar{
    background-color: #2057A4 !important;
}

.colorred{
    background-color: red;
}


.colorgreen{
    background-color: green;
}

.colorgrey{
    background-color: green;
}

.div_common {  
    position: relative;
    display: inline-block;  
    height: 200px;  
    width: 50%;  
    border-radius: 6px;  
    margin: 20px 0px 10px 0px;  
   }

   .div_common4 {  
    position: relative;
    display: inline-block;  
    height: 50px;  
    width: 50%;  
    border-radius: 6px;  
    margin: 5spx 0px 0px 0px;  
   }  

.div_common_2 {  
    background-color: #DADADA;
    position: relative;
    display: inline-block;  
    height: 20px;  
    width: 23%;  
    padding: 0px 1px 0px 1px;  
    margin: 10px 0px 0px 0px;  
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
   
}   

.div_common_3 {  
    border-bottom:5px solid #DADADA;
    position: relative;
    display: inline-block;  
    height: 100px;  
    width: 24%;  
    padding: 0px 0px 0px 1px;  
    margin: 13px 0px 0px 0px;  
    color: black;
    font-size: 8px;
    text-align: left;
   
}   