/*
Theme name:;
autor:ahsan;
gmail:naqashahsan@gmail.com;
*/

* {
	box-sizing: border-box;
}
.body-wrapper{
	height: 1250px;
}

body {
  background: #fff;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/*body:after {
	content: "©";
	font-size: 15em;
	color: rgba(52, 166, 214, 0.4);
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
 }*/

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: 500;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.btn{
	display: inline-block;
}
.container{
	max-width: 584px;
	margin:0 auto;
	padding: 0 15px;
}
.container2{
	max-width: 484px;
	margin:0 auto;
	padding: 0 15px;
}
.container-big{
	max-width: 684px;
	margin:0 auto;
	padding: 0 15px;
}
.banner{
	width: 100%;
	height: 100%;
	background-color: #2057A4;
	text-align: center;
}
.logo__img-firstpage{
	margin-top: 302px;
}
/*page 1 end*/
.header{
	padding: 30px 0 30px 0;
	background-color: #2057A4;
}
.logo--page-top2{
	margin-left: 66.6%;
}
.logo__img2{
	max-width: 60px;
}
.logo__imgfp{
	max-width: 200px;
}

.address{
	padding: 22px 0 0 0;
}
.address__heading{
	font-size: 24px;
	color: #2057A4;
	text-align: center;
	margin-bottom: 27px;
}
.heading-bar{
	background-color: #2057A4;
	padding: 3px 0;
}
.heading-bar__heading{
	font-size: 13px;
	color: #fff;
	margin-left: 10px;
}
.sides-wrapper{
	padding: 10px 0 18px 0;
	width: 100%;
	display: inline-block;
}
.sides-wrapper1{
	padding-bottom: 15px;
	padding-top: 15px;
}
.sides-wrapper2{
	padding: 15px 0;
}
.left{
	width: 49%;
	display: inline-block;
}
.left--mgl{
	padding-left: 10px;
	vertical-align: text-bottom;
}
.left__line{

}
.left__line-text{
	color: #706F6F;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
}
.left__line-text1{
	vertical-align: super;
}
.left__line-img-holder{
	width: 32px;
	display: inline-block;
}
.left__line--top1{
	margin-bottom: 18px;
}
.left__line--top2{
	margin-bottom: 23px;
}
.left__line--top3{
	margin-bottom: 15px;
}
.left__line-img-holder--pdl{
	margin-left: 20px;
	display: inline-block;
}
.right{
	width: 50%;
	position: relative;
	display: inline-block;
}
.right__bar{
	position: absolute;
	z-index: 1;
	width: 130px;
	top: 56px;
	left: -56px;
}
.right__bar-heading{
	font-size: 8px;
	color: #fff;
	background-color: #9D9D9C;
	padding: 5px 0 5px 5px;
	transform: rotate(-90deg);
}
#googleMap{
	width: 100%;
	height: 130px;
	border: none;
}
/*location section end*/
.left__builder-wrapper{
	padding: 0 1px;
	position: relative;
	display: inline-block;
	width: 52px;
}
.left__builder-wrapper.active{
	background-color: #2057A4;
}
.left__text{
	font-size: 9px;
	color: #706F6F;
	border-left: 1px solid #706F6F;
	padding-left: 5px;
	margin-bottom: 5px;
}
.left__builder-wrapper.active .left__text{
	color: #fff;
	border-left: 1px solid #fff;
}
.left--dpf{
	width: 55%;
}
.left__img-holder{
	padding: 0 2px;
}
.left__arrow-img{
	position: absolute;
	top: 5px;
	left: calc(50% - 8px);
	z-index: -1;
}
.left__builder-wrapper.active .left__arrow-img{
	z-index: 1;
}
.left__building{
	padding-top: 22px;
}
.right--dpf{
	width: 44% !important;
}
.right--bd{
	border:1px solid #9D9D9C;
	padding: 9px 20px;
}
.right__img-box,
.right__pisos-detail{
	width: 48%;
	display: inline-block;
}
.right__detail-text{
	font-size: 8px;
	padding: 5px 0;
	border-bottom: 1px dotted #2057A4;
}
.right__detail-text--pt0{
	padding-top: 0;
}
.right.right--dn{
	display: inline-block;
	display: none;
}
.right.active{
	display: inline-block;
}
/*/*builder section end*/
.uses__wrapper{
	border-bottom: 3px solid #DADADA;
	padding-top: 7px;
	width: 100%;
	display: inline-block;
}
.sm-box{
	width: 24.2%;
	padding-left: 2px;
	display: inline-block;
	vertical-align: top;
}
.sm-box--pl0{
	padding-left: 0;
}
.sm-box__bar{
	background-color: #DADADA;
}
.sm-box__heading{
	font-size: 8px;
	color: #fff;
	margin-left: 5px;
	padding: 5px 0;
}
.sm-box__content{
	padding: 7px 0 10px 0px;
	border-top:1px solid #fff;

}
.sm-box__para{
	font-size: 11px;
	color: #706F6F;
	line-height: 1.4;
}
.sm-box__para--mb-2{
	margin-bottom: 7px;
}
.sm-box__para--mb-1{
	margin-bottom: 7px;
}
.sm-box__para--mb-3{
	margin-bottom: -1px;
}
.sm-box.active .sm-box__bar,
.sm-box.active .sm-box__content{
	background-color: #2057A4;
}
.sm-box.active .sm-box__para{
	color: #fff;
}
.sm-box.active .sm-box__content{
	padding-left: 5px;
}
/*uses section end*/
.pricing{
	padding: 20px 0 35px 0;
}
.pricing__wrapper{
}
.left--pricing{
	padding-left: 10px;
	vertical-align: text-top;
}
.left--pricing1{
	width: 47%;
}
.left--pricing2{
	width: 52%;
}
.left__img{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
.left__pricing{
	width: 66%;
	display: inline-block;
}
.left__pricing-heading{
	font-size: 13px;
	color: #706F6F;
	margin-bottom: 15px;
}
.left__pricing-units{
	font-size: 21px;
	color: #2057A4;
}
.left__pricing-units-sm{
	font-size: 9px;
	padding-bottom: 10px;
	color: #2057A4;
}
.left__pricing-units,
.left__pricing-units-sm{
	border-left: 2px solid #2057A4;
	padding-left: 5px;
}
.left__pricing-units-sm--pb0{
	padding-bottom: 0;
}
.left__pricing-units-sm--bd0{
	border-left: none;
}
.right--dpf2{
	display: inline-block;
}
.left__pricing-units--bd0{
	border-left: none;
}
.left__pricing-units1{
	display: inline-block;
}
.minidiv{
	display: inline-block;
	margin-left: 10px;
}
.pl0{
	padding-left: 0;
}
.left__pricing-heading--mb0{
	margin-bottom: 0;
}
.left__sm-heading{
	font-size: 7px;
	color: #706F6F;
}
.left__meter-unit{
	font-size: 13px;
	color: #2057A4;
}
.left__mini-box{
	display: inline-block;
}
.left__inner{
	width: 100%;
}
.left__inner--mb{
	margin-bottom: 5px;
}
/*page 2 end*/
.header--bgw{
	background-color: #fff;
}
.logo-wrapper--center{
	text-align: center;
}
.informe-text{
	border-right: 1px solid #878787;
	padding-right: 10px;
	margin-right: 20px;
	display: inline-block;
}
.heaher-text{
	text-align: right;
	font-size: 9px;
	color: #878787;
}
.logo--mr{
	margin-right: 15px;
}
.map{
	height: 284px !important;
	margin: 28px 0;
}
.services{
	padding-bottom: 100px;
}
.services__wrapper{
}
.ser-box{
	width: 19.2%;
	text-align:  center;
	display: inline-block;
	vertical-align: top;
}
.ser-box__heading{
	font-size: 11px;
	padding-bottom: 10px;
}
.ser-box__heading--r{
	color: #E44650;
}
.ser-box__heading--p{
	color: #E34692;
}
.ser-box__heading--y{
	color: #F6A24C;
}
.ser-box__heading--b{
	color: #885934;
}
.ser-box__heading--g{
	color: #6C8491;
}
.ser-box__img-holder{
	padding-bottom: 10px;
	padding-top: 5px;
}
.ser-box__img{
	margin-bottom: 10px;
}
.services-list__link{
	color: #706F6F;
	font-size: 9px;
	text-transform: uppercase;
}
.services-list{
	padding-top: 10px;
    min-height: 690px;
    max-height: 690px;
    overflow-y: hidden;
}
.services-list__item{
	height: 58px;
}
.ser-bd0{
	border-right: none;
}
/*page 3 end*/
.sketch__wrapper{
	padding-top: 38px;
}
.side1{
	width: 57%;
	display: inline-block;
}
.side2{
	width: 42%;
	display: inline-block;
	text-align: end;
}
.bottom{
	text-align: initial;
	padding-bottom: 20px;
}
/*page 4 end*/
.area__des{
	font-size: 9px;
	color: #878787;
	padding: 30px 0 8px 15px;
}
.map2{
	height: 300px !important;
}
.map3{
	height: 350px !important;
}
.area__para{
	font-size: 9px;
	color: #575756;
	padding: 10px 0 0 0 ;
}
.area-box__pricing-unit{
	font-size: 21px;
    color: #2057A4;
    padding-left: 10px;
    margin-bottom: 10px;
}
.area-box__text{
	font-size: 10px;
	color: #2057A4;
	padding-left: 10px;
}
.area__wrapper{

	padding: 44px 0 50px 0;
}
.area-box{
	width: 32.7%;
	display: inline-block;
}
.area-box__desc{
	margin-left: 10px;
	border-left: 1px solid #706F6F;
	display: inline-block;
}
.bar-wrapper{
	padding-bottom: 55px;
}
.left-bar,
.right-bar{
	width: 49.5%;
	display: inline-block;
}
.bar__heading{
	font-size: 10px;
	color: #2057A4;
	margin-bottom: 10px;
}
.bar__heading--grey{
	font-size: 10px;
	color: #706F6F;
}
.progressbar{
  background-color: #B2B2B2;
  border-radius: 13px;
  margin-bottom: 7px;
}
.progressbar__inner{
  background-color: #2057A4;
  width: 46%;
  /* Adjust with JavaScript */
  height: 8px;
  border-radius: 10px;
}
.left-bar{
	padding-right: 25px;
}
.right-bar{
	padding-left: 25px;
}
.bar-desc-wrapper{
}
.bar__desc{
	width: 48%;
	display: inline-block;
}
.bar__desc-unit{
	font-size: 15px;
	color: #2057A4;
}
.bar__desc-text{
	font-size: 7px;
	color: #2057A4;
}
.bar__desc-unit--grey,
.bar__desc-text--grey{
	color: #B2B2B2;
}
.chart{
	padding-bottom: 54px;
}
#container{
	height: 90px;
	width: 100%;
}
.chart__heading{
	font-size: 12px;
	color: #2057A4;
	margin-bottom: 30px;
	display: inline-block;
}
/*page 5 end*/
.charts{
	padding-bottom: 60px;
}
.data-box__blue{
	color: #3C3C3B;
	font-size: 7px;
	margin-right: 25px;
	margin-left: 151px;
}
.data-box{
	display: inline-block;
}
.data-box__blue:before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #2057A4;
	margin-right: 7px;
	cursor: pointer;
	margin-bottom: -2px;
}
.data-box__grey{
	color: #3C3C3B;
	font-size: 7px;
}
.data-box__grey:before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #DADADA;
	margin-right: 7px;
	cursor: pointer;
	margin-bottom: -2px;
}
.data__wrapper{
	padding: 30px 0 50px 0;
}
.chart__heading--mb0{
	margin-bottom: 0;
}
.chart__heading--mb2{
	margin-bottom: 15px;
}
.chart-values{
	width: 5%;
	display: inline-block;
	text-align: end;
	padding-right: 5px;
}
.chart-data{
	display: inline-block;
	border-left: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	width: 94%;
	height: 80px;
}
.chart-data1,.chart-data2{
	margin-bottom: 0px;
}
.chart-value{
	color: #B2B2B2;
	font-size: 7px;
	margin-top: 14px;
}
.chart-scale{
	color: #B2B2B2;
	font-size: 7px;
	position: absolute;
	bottom: -10px;
	text-align: center;
}

.blue-bar{
	width: 18px;
	background-color: #2057A4;
	position: relative;
	display: inline-block;
	margin-left: 22px;
}
.chart-data2 .blue-bar,.chart-data1 .blue-bar,.chart-data3 .blue-bar{
	width: 21px;
}
.chart-data2 .chart-values,.chart-data1 .chart-values,.chart-data3 .chart-values{
	text-align: initial;
}
.chart-data2 .chart-scale,.chart-data3 .chart-scale,.chart-data1 .chart-scale{
	width: 100%;
	left: 50%;
}
.grey-bar{
	width: 21px;
	background-color: #DADADA;
	position: relative;
	display: inline-block;
	margin-left: -4px;
}
.grey-bar1{
	height: 11px;
	margin-top: 69px;
}
.grey-bar2{
	height: 11px;
	margin-top: 69px;
}
.grey-bar3{
	height: 11px;
	margin-top: 69px;
}
.grey-bar4{
	height: 6px;
	margin-top: 74px;
}
.grey-bar5{
	height: 8px;
	margin-top: 72px;
	margin-left: -5px;
}
.grey-bar6{
	height: 11px;
	margin-left: -5px;
	margin-top: 69px;
}
.blue-bar:nth-child(1){
	margin-left: 15px;
}
.blue-bar1{
	height: 38px;
	margin-top: 42px;
}
.chart-data2 .blue-bar1 .chart-scale,.chart-data3 .blue-bar1 .chart-scale,.chart-data1 .blue-bar1 .chart-scale{
	right: 0px;
}
.blue-bar2{
	height: 31px;
	margin-top: 49px;
}
.blue-bar3{
	height: 36px;
	margin-top: 44px;
}
.blue-bar4{
	height: 38px;
	margin-top: 42px;
}
.blue-bar5{
	height: 32px;
	margin-top: 48px;
}
.blue-bar6{
	height: 67px;
	margin-top: 13px;
}
.blue-bar7{
	height: 57px;
	margin-top: 23px;
}
.blue-bar8{
	height: 38px;
	margin-top: 42px;
}
.blue-bar9{
	height: 32px;
	margin-top: 48px;
}
.blue-bar10{
	height: 67px;
	margin-top: 13px;
}

.chart-data1 .blue-bar1{
	height: 38px;
	margin-top: 42px;
}
.chart-data1 .blue-bar2{
	height: 60px;
	margin-top: 20px;
}
.chart-data1 .blue-bar3{
	height: 31px;
	margin-top: 49px;
}
.chart-data1 .blue-bar4{
	height: 16px;
	margin-top: 64px;
}
.chart-data1 .blue-bar5{
	height: 16px;
	margin-top: 64px;
}
.chart-data1 .blue-bar6{
	height: 62px;
	margin-top: 18px;
}

.chart-data2 .blue-bar1{
	height: 38px;
	margin-top: 42px;
}
.chart-data2 .blue-bar2{
	height: 60px;
	margin-top: 20px;
}
.chart-data2 .blue-bar3{
	height: 31px;
	margin-top: 49px;
}
.chart-data2 .blue-bar4{
	height: 16px;
	margin-top: 64px;
}
.chart-data2 .blue-bar5{
	height: 16px;
	margin-top: 64px;
}
.chart-data2 .blue-bar6{
	height: 62px;
	margin-top: 18px;
}
.side1__img{
	min-height: 450px;
	max-height: 450px;
}
.side2__img{
	min-height: 450px;
	max-height: 450px;
}
.bottom__img{
	min-height: 350px;
	min-width: 500px;
}


.chart-data3 .blue-bar1{
	height: 38px;
	margin-top: 42px;
}
.chart-data3 .blue-bar2{
	height: 60px;
	margin-top: 20px;
}
.chart-data3 .blue-bar3{
	height: 31px;
	margin-top: 49px;
}
.chart-data3 .blue-bar4{
	height: 16px;
	margin-top: 64px;
}
.chart-data3 .blue-bar5{
	height: 16px;
	margin-top: 64px;
}
.chart-data3 .blue-bar6{
	height: 62px;
	margin-top: 18px;
}
/*page 6 end*/
.rent{
	padding-bottom: 6px;
}
.heading-bar--grey{
	background-color: #DADADA;
}
.rent__heading{
	font-size: 12px;
	color: #DADADA;
	padding: 20px 0 13px 0;
}
.rent__heading-blue{
	color: #2057A4;
}
.heading-bar__heading--grey{
	color: #3C3C3B;
	display: inline-block;
}
.rent__wrapper{
	padding: 16px 0 12px 0;
	max-height: 69px;
}
.rent-box{
	width: 22%;
	text-align: initial;
	border-right: 1px solid #DADADA;
	display: inline-block;
	vertical-align: middle;
}
.rent-box__amb{
	font-size: 7px;
	color: #3C3C3B;
}
.rent-box__unit{
	font-size: 20px;
	color: #2057A4;
}
.ret-box__unit-sm,
.rent-box__sm-text{
	font-size: 10px;
	color: #2057A4;
}
.rent-box--c{
	text-align: center;
	padding: 4px 0;
}
.rent-progress{
	width: 54%;
	padding-left: 30px;
	display: inline-block;
	vertical-align: middle;
}
.min-max{
	padding-bottom: 5px;
}
.min-max:not:first-child{
	text-align: end;
}
.min-max__min{
	font-size: 10px;
	color: #2057A4;
}
.min-max__max{
	font-size: 10px;
	color: #2057A4;
	margin-left: 132px;
}
.min-max__max1{
	margin-left: 81%;
}
.progressbar__inner--1amb{
	width: 64%;
}
.progressbar__inner--2amb{
	width: 80%;
}
.progressbar__inner--3amb{
	width: 50%;
}
.progressbar__inner--4amb{
	width: 64%;
}
.progressbar__inner--5amb{
	width: 64%;
}
.rent-progress-text{
	font-size: 11px;
	color: #2057A4;
}
/*page 7 end*/
.table1{
	padding-bottom: 106px;
}
.heading-bar--pd3{
	margin-bottom: 30px;
}

.heading-bar__heading--pr{
	padding-right: 10px;
	margin-left: 55%;
}
.heading-bar--mb3{
	margin-bottom: 30px;
}
.table-wrapper{
	margin-bottom: 52px;
}
.table-count{
	font-size: 20px;
	color: #2057A4;
	width: 2%;
	display: inline-block;
	vertical-align: top;
}
.table{
	width: 97%;
	position: relative;
	display: inline-block;
}
.top-row--heading{
	width: 30%;
}
.col{
	width: 17.22%;
	color: #2057A4;
	font-size: 12px;
	text-align: right;
}
table tr:nth-child(1) td{
	padding-bottom: 10px;
}
table tr:nth-child(1){
	border-bottom: 1px solid #2057A4;
}
.top-row--heading{
	font-size: 12px;
	color: #3C3C3B;
}
.top-row--heading--blue{
	color: #2057A4;
}
.col--grey{
	color: #878787;
}
.top-row--heading--2{
	width: 20%;
}
.col-2{
	width: 15%;
}
.col-sm{
	width: 10%;
}
.col-2--big{
	width: 25%;
}