/*
Theme name:;
autor:ahsan;
*/
@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Bold.woff2') format('woff2'),
        url('fonts/Archivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Medium.woff2') format('woff2'),
        url('fonts/Archivo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Regular.woff2') format('woff2'),
        url('fonts/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body {
	background: #fff;
	font-family: 'Archivo';
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.btn{
	border:none;
	outline: none;
	display: inline-block;
	cursor: pointer;
}
.container{
	max-width: 1370px;
	margin:0 auto;
	padding: 0 15px;
}
.wrapper{
	display: flex;
}
.tipos-informe{
	padding: 40px 0 60px 0;
}
.tipos-informe__heading{
	font-size: 28px;
	margin-bottom: 35px;
	text-align: center;
	color: #2057a4;
	font-weight: 500;
}
.tipos-table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
.tipos-table__header{
	background-color: #2057a4;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.tipos-table-first-col--border{
	border-right: 1px solid #1b5199;
}
.tipos-table-second-col--bg{
	background-color: #009fe3;
}
.tipos-table__header .tipos-table-first-col{
	border-top-left-radius: 25px;
}
.tipos-table__header td{
	padding: 25px 0 30px 0;
}
.tipos-table-first-col{
	width: 40%;
}
.tipos-table-second-col{
	width: 18.5%;
}
.tipos-table-third-col{
	width: 21.5%;
}
.tipos-table__header .tipos-table-forth-col{
	border-top-right-radius: 25px;
}
.tipos-table-forth-col{
	width: 20%;
}
.tipos-table__heading{
	color: #fff;
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}
.tipos-table__price{
	margin-bottom: 20px;
}
.tipos-table__btn{
	background-color: #f0f0f0;
	border-radius: 25px;
	padding: 8px 20px;
	font-size: 15px;
	color: #000000;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
}
.tipos-table__recomendo{
	font-size: 13px;
	color: #fff;
	font-weight: normal;
	margin-bottom: 11px;
}
.tipos-table__recomendo:before{
	content: '';
	background: url(images/star.png) no-repeat center;
	display: inline-block;
	width: 15px;
	height: 14px;
	padding-right: 20px;
	margin-bottom: -2px;
}
.tipos-table__recomendo:after{
	content: '';
	background: url(images/star.png) no-repeat center;
	display: inline-block;
	width: 15px;
	height: 14px;
	padding-left: 20px;
	margin-bottom: -2px;
}
.tipos-table__row{
	border-bottom: 1px solid #ededed;
}
.tipos-table__row td{
	padding: 23px  0 20px 0;
}
.tipos-table__row td:nth-child(1){
	border-right: 1px solid #dbdbdb;
}
.tipos-table__row td:nth-child(3){
	border-right: 3px solid #009fe3 !important;
	border-left: 3px solid #009fe3 !important;
}
.tipos-table__row .tipos-table-first-col{
	text-align: initial;
	padding-left: 22px;
}
.tipos-table-first-col__details{
	font-size: 20px;
	color: #575756;
}
.grey{
	background-color: #ececec;
}
.mgl-4{
	padding-left: 40px !important;
}
.last-row{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom: none;
}
.last-col-l{
	border-bottom-left-radius: 25px;
}
.last-col-r{
	border-bottom-right-radius: 25px;
}
.table-c{
	padding: 50px 0;
}
.container-c{
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}
.table-c__heading{
	text-align: center;
	font-size: 27px;
	color: #2057a4;
	margin-bottom: 40px;
}
.table-c__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.price-box{
	width: 30%;
	border: 1px solid #dadada;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
}
.price-box__header{
	background-color: #2057a4;
	padding: 30px 0;
	text-align: center;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.price-box__heading{
	color: #fff;
	font-size: 19px;
}
.price-box__credit{
	display: flex;
	padding: 20px 10px;
	border-bottom: 1px solid #dadada;
	align-items: center;
}
.pdt-5{
	padding-top: 35px;
}
.bd-n{
	border-bottom: none;
	padding-bottom: 45px;
}
.price-box__left{
	width: 65%;
	text-align: initial;
}
.price-box__right{
	width: 35%;
	text-align: initial;
}
.price-box__price{
	font-size: 23px;
	color: #009fe3;
}
.credit__info{
	font-size: 18px;
	font-weight: 500;
	color: #2057a4;
	font-family: 'Archivo';
	padding-left: 10px;
}
.price-box-btn{
	background-color: #2057a4;
	border-radius: 25px;
	border: none;
	outline: none;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;
	font-size: 9px;
	font-family: 'Archivo';
	justify-content: center;
	margin-bottom: 35px;
}
@media (max-width: 1400px){
	.tipos-table-first-col__details{
		font-size: 18px;
	}
	.tipos-table__heading{
		font-size: 22px;
	}
}
@media (max-width: 1200px){
	.tipos-table-first-col__details{
		font-size: 16px;
	}
	.tipos-table__heading{
		font-size: 20px;
	}
	.mgl-4 {
	    padding-left: 30px !important;
	}
}
@media (max-width: 1024px){
	.tipos-table-first-col__details{
		font-size: 14px;
	}
	.tipos-table__heading{
		font-size: 16px;
	}
	.mgl-4 {
	    padding-left: 30px !important;
	}
	.tipos-table__recomendo {
    	font-size: 10px;
	}
	.tipos-table__btn {
	    padding: 8px 15px;
	    font-size: 10px;
	}
	.mgb-low{
		margin-bottom: 12px;
	}
}
@media (max-width: 990px){
	.price-box {
    	width: 45%;
    	margin-bottom: 50px;
	}
	.table-c__wrapper{
		justify-content: space-evenly;
	}
}
@media (max-width: 767px){
	.price-box {
    	width: 100%;
    }

	.tipos-table-first-col__details{
		font-size: 10px;
	}
	.tipos-table__heading{
		font-size: 8px;
	}
	.mgl-4 {
	    padding-left: 15px !important;
	}
	.tipos-table__recomendo {
    	font-size: 6px;
	}
	.tipos-table__btn {
	    padding: 5px 5px;
	    font-size: 8px;
      -webkit-box-shadow: inherit ;
      -moz-box-shadow:inherit ;
      box-shadow:inherit ;
      margin: 5px;
	}
	.mgb-low{
		margin-bottom: 12px;
	}
	.tipos-table__recomendo:before {
		/*padding-right: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;*/
		display: none;
	}
	.tipos-table__recomendo:after {
		/*padding-left: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;*/
		display: none;
	}
	.tipos-table__row .tipos-table-first-col {
	    padding-left: 10px;
	    padding-right: 5px;
	}
	.tipos-table-first-col {
	    width: 37%;
	}
	.tipos-table-second-col {
	    width: 21.5%;
	}
}