/*
Theme name:;
autor:ahsan;
gmail:naqashahsan@gmail.com;
*/
*{
	box-sizing: border-box;
}
body
{
    width:100%;
    height: 100%;

}

.hoja
{   
    background-color:white;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
}


h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: 500;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.btn{
	display: inline-block;
}

.container{
	width: 70% !important;
	height: 200px;
	position: relative;
}
.container-big{
	max-width: 517px;
	margin:0 auto;
	padding: 0 15px;
}
.banner{
	width: 100%;
	height: 100vh;
	background-color: #2057A4;
	display: block;
	justify-content: center;
	align-items: center;
}

.logo-wrapper{
	display: block;
	justify-content: space-between;
	align-items: center;
}
.address{
	padding: 22px 0 0 0;
}
.address__heading{
	font-size: 24px;
	color: #2057A4;
	text-align: center;
	margin-bottom: 27px;
}
.heading-bar{
	background-color: #2057A4;
	padding: 3px 0;
}
.heading-bar__heading{
	font-size: 13px;
	color:white;
	margin-left: 10px;
}
.sides-wrapper{
	display: inline-block;
	height: 200px;
	width:100% ;
	position: relative;	
}
.left{
	width: 40%;
}
.left--mgl{
	margin-left: 10px;
}
.left__line{
	display: inline-block;
	align-items: center;
}
.left__line-text{
	padding-left: 6px;
	color: grey;
	font-size: 10px;
	font-weight: bold;
}
.left__line-img-holder{
	width: 32px; 
}
.left__line--top1{
	margin-bottom: 18px;
}
.left__line--top2{
	margin-bottom: 23px;
}
.left__line--top3{
	margin-bottom: 15px;
}
.left__line-img-holder--pdl{
	margin-left: 0px;
}
.right{
	margin-right: 0px;
	margin-left: 10%;
	margin-top: 1%;
	width: 40%;
	position: absolute;
}
.right__bar{
	position: absolute;
	z-index: 1;
	width: 130px;
	height: 130px;
	top: 56px;
	right: 0%;
}
.right__bar-heading{
	font-size: 8px;
	color:white;
	background-color: grey;
	padding: 5px 0 5px 5px;
	transform: rotate(-90deg);
}
#googleMap{
	width: 100%;
	height: 430px;
	background-color: red;
}
/*location section end*/
.left__builder-wrapper{
	display: inline-block;
	justify-content: center;
	padding: 0px; 
	position: relative;
	height: 100px;
	margin-top: 40px;
}
.left__builder-wrapper.active{
	display: inline-block;
	background-color: #2057A4;
}
.left__text{
	font-size: 6px;
	color: grey;
	border-left: 1px solid grey;
	padding-left: 12px;
	margin-bottom: 5px;
}
.left__text.active{
	color:white;
	border-left: 1px solid white;
}
.left--dpf{
	display: inline-block;
	align-items: center;
}
.left__img-holder{
	padding: 0 2px;
}
.left__arrow-img{
	position: relative;
	top: 5px;
	left: calc(50% - 8px)
}
.left__building{
	display: inline-block;
	padding-top: 22px;
}
.right--dpf{
	display: inline-block;
	align-items: right;
}
.right--bd{
	display:inline-block;
	border:1px solid grey;
	padding: 9px 20px;
	height: 170px;
}
.right__img-box,
.right__pisos-detail{
	margin-top: 20px;
	width: 40%;
	height: 140px;
	display: inline-block;
}
.right__detail-text{
	font-size: 8px;
	padding: 0;
	margin:0% 0% 1% 0% ;
	border-bottom: 1px dotted; 
}
.right__detail-text--pt0{
	padding-top: 0;
}
.right
.right--dn{
	display: inline-block;
}

/*/*builder section end*/
.uses__wrapper{
	display: block;
	border-bottom: 3px solid grey;
	padding-top: 7px;
}
.sm-box{
	width: 25%;
	padding-left: 2px;
}
.sm-box--pl0{
	padding-left: 0;
}
.sm-box__bar{
	background-color: grey;
}
.sm-box__heading{
	font-size: 8px;
	color:white;
	margin-left: 5px;
	padding: 5px 0;
}
.sm-box__content{
	padding: 7px 0 10px 0px;
	border-top:1px solid white; 
}
.sm-box__para{
	font-size: 7px;
	color: grey;
	line-height: 1.4;
}
.sm-box__para--mb-2{
	margin-bottom: 14px;
}
.sm-box__para--mb-1{
	margin-bottom: 7px;
}
.sm-box.active .sm-box__bar,
.sm-box.active .sm-box__content{
	background-color: #2057A4;
}
.sm-box.active .sm-box__para{
	color:white;
}
.sm-box.active .sm-box__content{
	padding-left: 5px;
}
/*uses section end*/
.pricing{
	width: 100%;
	padding: 0% !important;
	margin: 0% !important;
}
.pricing__wrapper{
	display: block;
	justify-content: block-end;
	width: 100%;
	height: 200px;
	
}
.left--pricing{
	display: inline-block;
	min-height: 100px;
	min-width: 100px;
	width: 47%;
	margin: 0px;

}
.left__img{
	width: 20%;	
	height: 50%;
}
.left__pricing{
	width: 70%;
	float: right;	
}
.left__pricing-heading{
	font-size: 13px;
	color: grey;
}
.left__pricing-units{
	font-size: 21px;
	color: #2057A4;
}
.left__pricing-units-sm{
	font-size: 9px;
	padding-bottom: 10px;
	color: #2057A4;
}
.left__pricing-units,
.left__pricing-units-sm{
	border-left: 2px solid #2057A4;
	padding-left: 5px;
}
.left__pricing-units-sm--pb0{
	padding-bottom: 0;
}
.left__pricing-units-sm--bd0{
	border-left: none;
}
.right--dpf2{
	display: block;
}
.left__pricing-units--bd0{
	border-left: none;
}
.pl0{
	padding-left: 0;
}
.left__pricing-heading--mb0{
	margin-bottom: 0;
}
.left__sm-heading{
	font-size: 7px;
	color: grey;
}
.left__meter-unit{
	font-size: 13px;
	color: #2057A4;
}
.left__mini-box{
	display: block;
	justify-content: space-between;
}
.left__inner{
	width: 100%;
	display: block;
}
.left__inner--mb{
	margin-bottom: 5px;
}
/*page 2 end*/
.header--bgw{
	background-color:white;
	display: inline-block;
}
.logo-wrapper--center{
	justify-content: center;
}
.informe-text{
	border-right: 1px solid grey;
	padding-right: 10px;
	margin-right: 20px;
}
.heaher-text{
	text-align: right;
	font-size: 9px;
	color: grey;
}
.logo--mr{
	margin-right: 15px;
}
.map{
	margin:5% 15%;
}
.services{
	padding-bottom: 100px;
}
.services__wrapper{
	display: inline-block;
	width: 70%;
	margin: 10% 15%;
}
.ser-box{
	width: 20%;
	display: inline-block;
	text-align:  center;
}
.ser-box__heading{
	font-size: 8px;
	padding-bottom: 10px;
}
.ser-box__heading--r{
	color: #E44650;
}
.ser-box__heading--p{
	color: #E34692;
}
.ser-box__heading--y{
	color: #F6A24C;
}
.ser-box__heading--b{
	color: #885934;
}
.ser-box__heading--g{
	color: #6C8491;
}
.ser-box__img-holder{
	padding-bottom: 10px;
	padding-top: 5px;
}
.ser-box__img-holder,
.ser-box__heading{
	border-right: 0px solid grey;
}
.services-list__link{
	color: grey;
	font-size: 8px;
}
.services-list{
	padding-top: 10px;
	height:330px;
}
.ser-bd0{
	border-right: none;
}
/*page 3 end*/
.sketch__wrapper{
	display: block;
	justify-content: space-between;
	padding-top: 38px;
}

.side2{
	display: block;
}
.bottom{
	text-align: initial;
	padding-bottom: 90px;
}
/*page 4 end*/
.area__des{
	font-size: 9px;
	color: grey;
	padding: 30px 0 8px 15px;
}
.map2{
	height: 200px !important;
}
.area__para{
	font-size: 9px;
	color: grey;
	padding: 10px 0 0 0 ;
}
.area-box__pricing-unit{
	font-size: 21px;
    color: #2057A4;
    padding-left: 10px;
    margin-bottom: 10px;
}
.area-box__text{
	font-size: 10px;
	color: #2057A4;
	padding-left: 10px;
}
.area__wrapper{
	display: inline-block;
	justify-content: space-between;
	padding: 44px 0 50px 0;
	margin-top: 10%;
}
.area-box{
	display: inline-block;
	width: 33.33%;
	align-items: center;
}
.area-box__desc{
	margin-left: 10px;
	border-left: 1px solid grey;
}
.bar-wrapper{
	display: block;
	justify-content: space-between;
	padding-bottom: 55px;
}
.left-bar,
.right-bar{
	width: 50%;
}
.bar__heading{
	font-size: 10px;
	color: #2057A4;
	margin-bottom: 10px;
}
.bar__heading--grey{
	font-size: 10px;
	color: grey;
}
.progressbar{
  background-color: grey;
  border-radius: 13px;
  margin-bottom: 7px;
}
.progressbar__inner{
  background-color: #2057A4;
  width: 46%;
  /* Adjust with JavaScript */
  height: 8px;
  border-radius: 10px;
}
.left-bar{
	padding-right: 25px;
}
.right-bar{
	padding-left: 25px;
}
.bar-desc-wrapper{
	display: block;
}
.bar__desc{
	width: 50%;
}
.bar__desc-unit{
	font-size: 15px;
	color: #2057A4;
}
.bar__desc-text{
	font-size: 7px;
	color: #2057A4;
}
.bar__desc-unit--grey,
.bar__desc-text--grey{
	color: grey;
}
.chart{
	padding-bottom: 54px;
}
#container{
	height: 90px;
	width: 100%;
}
.chart__heading{
	font-size: 12px;
	color: #2057A4;
	margin-bottom: 30px; 
}
/*page 5 end*/
.charts{
	padding-bottom: 60px;
}
.data-box{
	float: right;
}

.data-box__#2057A4{
	color: black;
	font-size: 7px;
	content: '';
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	background-color: #2057A4;
	color:  white;
	margin-right: 7px;
	cursor: pointer;
}
.data-box__grey{
	color: black;
	width: 10px;
	font-size: 7px;
	content: '';
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	background-color: grey;
	color: white;
	margin-right: 7px;
	padding: 0;
	cursor: pointer;
}
.data__wrapper{
	display: block;
	justify-content: space-between;
	padding: 30px 0 50px 0;
}
.chart__heading--mb0{
	margin-bottom: 0;
}
.chart__heading--mb2{
	margin-bottom: 15px;
}
.chart-data--mb{
	margin-bottom: 60px;
}
/*page 6 end*/
.rent{
	padding-bottom: 6px;
}
.heading-bar--grey{
	background-color: grey;
}
.rent__heading{
	font-size: 12px;
	color: grey;
	padding: 20px 0 13px 0;
}
.heading-bar__heading--grey{
	color: black;
	display: inline-block;
}
.rent__wrapper{
	display: block;
	align-items: center;
	padding: 18px 0 0px 0;  
}
.rent-box{
	width: 22%;
	text-align: initial;
	border-right: 1px solid grey;
	display: inline-block;
}
.rent-box__amb{
	font-size: 7px;
	color: black;
}
.rent-box__unit{
	font-size: 20px;
	color: #2057A4;
}
.ret-box__unit-sm,
.rent-box__sm-text{
	font-size: 10px;
	color: #2057A4;
}
.rent-box--c{
	text-align: center;
}
.rent-progress{
	width: 45%;
	padding-left: 30px;
	display: inline-block;
}
.min-max{
	display: block;
	padding-bottom: 5px;
	justify-content: space-between;
}
.min-max__min{
	font-size: 10px;
	color: #2057A4;
}
.min-max__max{
	font-size: 10px;
	color: #2057A4;
	float: right;
	vertical-align: middle;
	
}
.progressbar__inner--1amb{
	width: 64%;
}
.progressbar__inner--2amb{
	width: 80%;
}
.progressbar__inner--3amb{
	width: 50%;
}
.progressbar__inner--4amb{
	width: 64%;
}
.progressbar__inner--5amb{
	width: 64%;
}
.rent-progress-text{
	font-size: 9px;
	color: #2057A4;
}
/*page 7 end*/
.table1{
	padding-bottom: 106px;
}
.heading-bar--pd3{
	margin-bottom: 30px;
}
.heading-bar--dpf{
	display: block;
	justify-content: space-between;
}
.heading-bar__heading--pr{
	padding-right: 10px;
	display: inline-block;
	border-color:red;
}
.heading-bar--mb3{
	margin-bottom: 30px;
}
.table-wrapper{
	display: block;
	margin-bottom: 52px;
}
.table-count{
	font-size: 20px;
	color: #2057A4;
	width: 3%;
}
.table{
	width: 97%;
	position: relative;
}
.top-row--heading{
	width: 30%;
}
.col{
	width: 17.22%;
	color: #2057A4;
	font-size: 12px;
	text-align: right;
}
table tr:nth-child(1) td{
	padding-bottom: 10px;
}
table tr:nth-child(1){
	border-bottom: 1px solid #2057A4;
}
.top-row--heading{
	font-size: 12px;
	color: black;
}
.top-row--heading--#2057A4{
	color: #2057A4;
}
.col--grey{
	color: grey;
}
.top-row--heading--2{
	width: 20%;
}
.col-2{
	width: 15%;
}
.col-sm{
	width: 10%;
}
.col-2--big{
	width: 25%;
}

#vertgraph {
	width: 100%;
	height: 207px;
	position: relative;
	background-color: white;
	}
	#vertgraph ul {
	width: 100% !important;
	height: 157px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	}
	#vertgraph ul li {
	position: absolute;
	width: 28px;
	height: 155px;
	bottom: 288px;
	padding: 0 !important;
	margin: 0 !important;
	text-align: center;
	font-weight: bold;
	color:black;
	background-color: #2057A4;
	}

	#vertgraph li.ninios { left: 24px; background-position: 0px bottom !important; }
	#vertgraph li.adolecentes { left: 74px; background-position: -28px bottom !important; }
	#vertgraph li.veintes { left: 124px; background-position: -56px bottom !important; }
	#vertgraph li.treintas { left: 174px; background-position: -84px bottom !important; }
	#vertgraph li.cuarentas { left: 224px; background-position: -112px bottom !important; }
	#vertgraph li.cincuentas{ left: 274px; background-position: -112px bottom !important; }
	#vertgraph li.sesentas{ left: 324px; background-position: -112px bottom !important; }
	#vertgraph li.setentas{ left: 374px; background-position: -112px bottom !important; }
	#vertgraph li.ochentas{ left: 424px; background-position: -112px bottom !important; }
	#vertgraph li.noventas{ left: 474px; background-position: -112px bottom !important; }



	/*hoja 6*/


	.vertgraph2 {
		width: 100%;
		height: 207px;
		position: relative;
		padding: 0 !important;
		margin:  0!important;
		display:table-cell;
		vertical-align:bottom;
		}
		.vertgraph2 div.ul {
			height: 157px;
			border-bottom: 1px solid grey;
			border-left: 1px solid grey;
		}
		.vertgraph2 div.ul div.li {	
			width: 28px;
			height: 155px;
			font-weight: bold;
			color:black;
			padding:0!important; 
			margin:0!important;
			vertical-align:bottom;
			position: relative;
			display: inline-block;
			background-color: springgreen;
		}

		.vertgraph2 div.ul div.li div{
			width: 14px;
			height: 155px;
			background-color: #2057A4;
			padding:0!important; 
			margin:0!important;
			display: inline-block;
			
		}


		div.cell_white{
			width: 5px;
			background-color: red;
			display: inline-block;
		}

	
		.ejex__div2{
			display: inline-block;
			background-color: tomato;
			width: 28px;
			margin: 0px 0px 0px 5px;
			
		}
		.ejex__div2_1{
			display: inline-block;
			margin: 0px  5px 0px 5px;
			width: 28px;
			background-color: tomato;
	
			
		}

		
		.ejex__div{
			display: inline-block;
			width: 5%;
			margin: 0% 0px 0px 3.5%;
			
		}
		.ejex__div_1{
			display: inline-block;	
			margin: 0%  0% 0% 10%;
			width: 5%;
			
		}


#lunes{
	width: 390px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #martes{
	width: 423px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #miercoles{
	width: 412px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #jueves{
	width: 459px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #viernes{
	width: 405px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #sabado{
	width: 320px;
	height: 18px;
	margin: 5 0 5 0px;
 }
 #domingo{
	width: 302px;
	height: 18px;
	margin: 5 0 5 0px;
 }