/*
Theme name:;
autor:ahsan;
gmail:naqashahsan@gmail.com;
*/
*{
	box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: 500;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.btn{
	display: inline-block;
}
.container{
	max-width: 474px;
	margin:0 auto;
	padding: 0 15px;
}
.container-big{
	max-width: 517px;
	margin:0 auto;
	padding: 0 15px;
}
.banner{
	width: 100%;
	height: 100vh;
	background-color: #2057A4;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*page 1 end*/
.header{
	padding: 30px 0 30px 0;
	background-color: #2057A4;
}
.logo-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.address{
	padding: 22px 0 0 0;
}
.address__heading{
	font-size: 24px;
	color: #2057A4;
	text-align: center;
	margin-bottom: 27px;
}
.heading-bar{
	background-color: #2057A4;
	padding: 3px 0;
}
.heading-bar__heading{
	font-size: 13px;
	color: #fff;
	margin-left: 10px;
}
.sides-wrapper{
	display: flex;
	padding: 10px 0 18px 0;
}
.left{
	width: 50%;
}
.left--mgl{
	margin-left: 10px;
}
.left__line{
	display: flex;
	align-items: center;
}
.left__line-text{
	padding-left: 6px;
	color: #706F6F;
	font-size: 10px;
	font-weight: bold;
}
.left__line-img-holder{
	width: 32px; 
}
.left__line--top1{
	margin-bottom: 18px;
}
.left__line--top2{
	margin-bottom: 23px;
}
.left__line--top3{
	margin-bottom: 15px;
}
.left__line-img-holder--pdl{
	margin-left: 20px;
}
.right{
	width: 50%;
	position: relative;
}
.right__bar{
	position: absolute;
	z-index: 1;
	width: 130px;
	top: 56px;
	left: -56px;
}
.right__bar-heading{
	font-size: 8px;
	color: #fff;
	background-color: #9D9D9C;
	padding: 5px 0 5px 5px;
	transform: rotate(-90deg);
}
#googleMap{
	width: 100%;
	height: 130px;
}
/*location section end*/
.left__builder-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2px;
	position: relative;
}
.left__builder-wrapper.active{
	background-color: #2057A4;
}
.left__text{
	font-size: 6px;
	color: #706F6F;
	border-left: 1px solid #706F6F;
	padding-left: 5px;
	margin-bottom: 5px;
}
.left__text.active{
	color: #fff;
	border-left: 1px solid #fff;
}
.left--dpf{
	display: flex;
	align-items: center;
}
.left__img-holder{
	padding: 0 2px;
}
.left__arrow-img{
	position: absolute;
	top: 5px;
	left: calc(50% - 8px)
}
.left__building{
	padding-top: 22px;
}
.right--dpf{
	display: flex;
	align-items: center;
	margin-left: 7px;
}
.right--bd{
	border:1px solid #9D9D9C;
	padding: 9px 20px;
}
.right__img-box,
.right__pisos-detail{
	width: 50%;
}
.right__detail-text{
	font-size: 8px;
	padding: 5px 0;
	border-bottom: 1px dotted #2057A4; 
}
.right__detail-text--pt0{
	padding-top: 0;
}
.right.right--dn{
	display: none;
}
.right.active{
	display: flex;
}
/*/*builder section end*/
.uses__wrapper{
	display: flex;
	border-bottom: 3px solid #DADADA;
	padding-top: 7px;
}
.sm-box{
	width: 25%;
	padding-left: 2px;
}
.sm-box--pl0{
	padding-left: 0;
}
.sm-box__bar{
	background-color: #DADADA;
}
.sm-box__heading{
	font-size: 8px;
	color: #fff;
	margin-left: 5px;
	padding: 5px 0;
}
.sm-box__content{
	padding: 7px 0 10px 0px;
	border-top:1px solid #fff; 
}
.sm-box__para{
	font-size: 7px;
	color: #706F6F;
	line-height: 1.4;
}
.sm-box__para--mb-2{
	margin-bottom: 14px;
}
.sm-box__para--mb-1{
	margin-bottom: 7px;
}
.sm-box.active .sm-box__bar,
.sm-box.active .sm-box__content{
	background-color: #2057A4;
}
.sm-box.active .sm-box__para{
	color: #fff;
}
.sm-box.active .sm-box__content{
	padding-left: 5px;
}
/*uses section end*/
.pricing{
	padding: 20px 0 50px 0;
}
.pricing__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.left--pricing{
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
}
.left__img{
	width: 30%;
}
.left__pricing{
	width: 70%;
}
.left__pricing-heading{
	font-size: 13px;
	color: #706F6F;
	margin-bottom: 15px;
}
.left__pricing-units{
	font-size: 21px;
	color: #2057A4;
}
.left__pricing-units-sm{
	font-size: 9px;
	padding-bottom: 10px;
	color: #2057A4;
}
.left__pricing-units,
.left__pricing-units-sm{
	border-left: 2px solid #2057A4;
	padding-left: 5px;
}
.left__pricing-units-sm--pb0{
	padding-bottom: 0;
}
.left__pricing-units-sm--bd0{
	border-left: none;
}
.right--dpf2{
	display: flex;
}
.left__pricing-units--bd0{
	border-left: none;
}
.pl0{
	padding-left: 0;
}
.left__pricing-heading--mb0{
	margin-bottom: 0;
}
.left__sm-heading{
	font-size: 7px;
	color: #706F6F;
}
.left__meter-unit{
	font-size: 13px;
	color: #2057A4;
}
.left__mini-box{
	display: flex;
	justify-content: space-between;
}
.left__inner{
	width: 100%;
	display: flex;
}
.left__inner--mb{
	margin-bottom: 5px;
}
/*page 2 end*/
.header--bgw{
	background-color: #fff;
}
.logo-wrapper--center{
	justify-content: center;
}
.informe-text{
	border-right: 1px solid #878787;
	padding-right: 10px;
	margin-right: 20px;
}
.heaher-text{
	text-align: right;
	font-size: 9px;
	color: #878787;
}
.logo--mr{
	margin-right: 15px;
}
.map{
	height: 284px !important;
	margin: 28px 0;
}
.services{
	padding-bottom: 100px;
}
.services__wrapper{
	display: flex;
}
.ser-box{
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align:  center;
}
.ser-box__heading{
	font-size: 8px;
	padding-bottom: 10px;
}
.ser-box__heading--r{
	color: #E44650;
}
.ser-box__heading--p{
	color: #E34692;
}
.ser-box__heading--y{
	color: #F6A24C;
}
.ser-box__heading--b{
	color: #885934;
}
.ser-box__heading--g{
	color: #6C8491;
}
.ser-box__img-holder{
	padding-bottom: 10px;
	padding-top: 5px;
}
.ser-box__img-holder,
.ser-box__heading{
	border-right: 1px solid #706F6F;
}
.services-list__link{
	color: #706F6F;
	font-size: 8px;
}
.services-list{
	padding-top: 10px;
}
.ser-bd0{
	border-right: none;
}
/*page 3 end*/
.sketch__wrapper{
	display: flex;
	justify-content: space-between;
	padding-top: 38px;
}

.side2{
	display: flex;
	flex-direction: column;
}
.bottom{
	text-align: initial;
	padding-bottom: 90px;
}
/*page 4 end*/
.area__des{
	font-size: 9px;
	color: #878787;
	padding: 30px 0 8px 15px;
}
.map2{
	height: 200px !important;
}
.area__para{
	font-size: 9px;
	color: #575756;
	padding: 10px 0 0 0 ;
}
.area-box__pricing-unit{
	font-size: 21px;
    color: #2057A4;
    padding-left: 10px;
    margin-bottom: 10px;
}
.area-box__text{
	font-size: 10px;
	color: #2057A4;
	padding-left: 10px;
}
.area__wrapper{
	display: flex;
	justify-content: space-between;
	padding: 44px 0 50px 0;
}
.area-box{
	display: flex;
	width: 33.33%;
	align-items: center;
}
.area-box__desc{
	margin-left: 10px;
	border-left: 1px solid #706F6F;
}
.bar-wrapper{
	display: flex;
	justify-content: space-between;
	padding-bottom: 55px;
}
.left-bar,
.right-bar{
	width: 50%;
}
.bar__heading{
	font-size: 10px;
	color: #2057A4;
	margin-bottom: 10px;
}
.bar__heading--grey{
	font-size: 10px;
	color: #706F6F;
}
.progressbar{
  background-color: #B2B2B2;
  border-radius: 13px;
  margin-bottom: 7px;
}
.progressbar__inner{
  background-color: #2057A4;
  width: 46%;
  /* Adjust with JavaScript */
  height: 8px;
  border-radius: 10px;
}
.left-bar{
	padding-right: 25px;
}
.right-bar{
	padding-left: 25px;
}
.bar-desc-wrapper{
	display: flex;
}
.bar__desc{
	width: 50%;
}
.bar__desc-unit{
	font-size: 15px;
	color: #2057A4;
}
.bar__desc-text{
	font-size: 7px;
	color: #2057A4;
}
.bar__desc-unit--grey,
.bar__desc-text--grey{
	color: #B2B2B2;
}
.chart{
	padding-bottom: 54px;
}
#container{
	height: 90px;
	width: 100%;
}
.chart__heading{
	font-size: 12px;
	color: #2057A4;
	margin-bottom: 30px; 
}
/*page 5 end*/
.charts{
	padding-bottom: 60px;
}
.data-box__blue{
	color: #3C3C3B;
	font-size: 7px;
	margin-right: 25px;
}
.data-box__blue:before{
	content: '';
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	background-color: #2057A4;
	margin-right: 7px;
	cursor: pointer;
}
.data-box__grey{
	color: #3C3C3B;
	font-size: 7px;
}
.data-box__grey:before{
	content: '';
	display: inline-block;
	align-items: center;
	width: 10px;
	height: 10px;
	background-color: #DADADA;
	margin-right: 7px;
	cursor: pointer;
}
.data__wrapper{
	display: flex;
	justify-content: space-between;
	padding: 30px 0 50px 0;
}
.chart__heading--mb0{
	margin-bottom: 0;
}
.chart__heading--mb2{
	margin-bottom: 15px;
}
.chart-data--mb{
	margin-bottom: 60px;
}
/*page 6 end*/
.rent{
	padding-bottom: 6px;
}
.heading-bar--grey{
	background-color: #DADADA;
}
.rent__heading{
	font-size: 12px;
	color: #DADADA;
	padding: 20px 0 13px 0;
}
.heading-bar__heading--grey{
	color: #3C3C3B;
}
.rent__wrapper{
	display: flex;
	align-items: center;
	padding: 18px 0 13px 0;  
}
.rent-box{
	width: 22%;
	text-align: initial;
	border-right: 1px solid #DADADA;
}
.rent-box__amb{
	font-size: 7px;
	color: #3C3C3B;
}
.rent-box__unit{
	font-size: 20px;
	color: #2057A4;
}
.ret-box__unit-sm,
.rent-box__sm-text{
	font-size: 10px;
	color: #2057A4;
}
.rent-box--c{
	text-align: center;
}
.rent-progress{
	width: 56%;
	padding-left: 30px;
}
.min-max{
	display: flex;
	padding-bottom: 5px;
	justify-content: space-between;
}
.min-max__min{
	font-size: 10px;
	color: #2057A4;
}
.min-max__max{
	font-size: 10px;
	color: #2057A4;
}
.progressbar__inner--1amb{
	width: 64%;
}
.progressbar__inner--2amb{
	width: 80%;
}
.progressbar__inner--3amb{
	width: 50%;
}
.progressbar__inner--4amb{
	width: 64%;
}
.progressbar__inner--5amb{
	width: 64%;
}
.rent-progress-text{
	font-size: 9px;
	color: #2057A4;
}
/*page 7 end*/
.table1{
	padding-bottom: 106px;
}
.heading-bar--pd3{
	margin-bottom: 30px;
}
.heading-bar--dpf{
	display: flex;
	justify-content: space-between;
}
.heading-bar__heading--pr{
	padding-right: 10px;
}
.heading-bar--mb3{
	margin-bottom: 30px;
}
.table-wrapper{
	display: flex;
	margin-bottom: 52px;
}
.table-count{
	font-size: 20px;
	color: #2057A4;
	width: 3%;
}
.table{
	width: 97%;
	position: relative;
}
.top-row--heading{
	width: 30%;
}
.col{
	width: 17.22%;
	color: #2057A4;
	font-size: 12px;
	text-align: right;
}
table tr:nth-child(1) td{
	padding-bottom: 10px;
}
table tr:nth-child(1){
	border-bottom: 1px solid #2057A4;
}
.top-row--heading{
	font-size: 12px;
	color: #3C3C3B;
}
.top-row--heading--blue{
	color: #2057A4;
}
.col--grey{
	color: #878787;
}
.top-row--heading--2{
	width: 20%;
}
.col-2{
	width: 15%;
}
.col-sm{
	width: 10%;
}
.col-2--big{
	width: 25%;
}
/*page-8 end*/
.pirule{
	padding: 30px 0 15px 0;
}
.logo-wrapper--center{
	justify-content: center;
}
.pirulue__heading{
	font-size: 31px;
	color: #2057a4;
	text-align: center;
	margin-bottom: 15px;
}
.pirulue__sub-heading{
	font-size: 20px;
	color: #878787;
	text-align: center;
	margin-bottom: 18px;
}
.pirule__line{
	width: 40%;
	border-bottom: 1px solid #878787;
	margin-bottom: 15px;
}
.pirulue__sub-heading--b{
	color: #000;
	margin-bottom: 40px;
}
.pirule-box-wrapper{
	display: flex;
	justify-content: center;
}
.pirule-box{
	width: 40.5%;
}
.pirule-box--mgr{
	margin-right: 10px;
}
.pirule-box--mgl{
	margin-left: 10px;
}
.pirule-box__top{
	padding: 20px 0 12px 0;
	background-color: #2057a4;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.pirule-box__heading{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.pirule-box__content{
	padding: 25px 15px 12px 15px;
	box-shadow: 1px 1px 3px 1px rgb(140,143,147,0.5);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.pirule-box__details{
	font-size: 9px;
	color: #878787;
	display: flex;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 8px;
}
.pirule-box__details.active{
	color: #000;
}
.pirule-box__line{
	border:none;
	border-bottom: 1px solid #dadada;
}
.pirule-box__details:before{
	content: '';
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	border:1px solid #2057a4;
	margin-right: 5px;
}
.pirule-box__details.active:before{
	background-color: #2057a4;
}
.pirulue-box__heading{
	font-size: 22px;
	color: #2057a4;
	text-align: center;
}
.pirulue__heading--mgt{
	margin-top: 10px;
}
.btn--pirlue{
	border:1px solid #2057a4;
	padding: 5px 20px;
	font-size: 7px;
	border-radius: 17px;
	color: #2057a4;
	text-align: center;
}
.brn-pirule-holder{
	text-align: center;
	margin-top: 10px;
}
/*page 9 end*/
.compra{
	padding: 25px 0 40px 0;
}
.compra__heading{
	font-size: 19px;
	text-align: center;
	color: #2057a4;
	margin-bottom: 17px;
}
.compra-box__top{
	padding: 15px 0 5px 0;
	background-color: #009FE3;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	box-shadow: 1px 1px 3px 1px rgb(140,143,147,0.5);
}
.compra-box__heading{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.compra-box__content{
	padding: 0 0 10px 0;
	box-shadow: 1px 1px 3px 1px rgb(140,143,147,0.5);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.compra-box-wrapper{
	border-bottom: 1px solid #EDEDED;
}
.compra-container{
	width: 260px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 3px 0;
}
.compra-box__text{
	font-size: 12px;
	color: #2057a4;
	width: 40%;
	text-align: right;
}
.compra-box__unit{
	font-size: 14px;
	color: #009FE3;
	width: 30%;	
	text-align: right;
}
.brn-pirule-holder--compra{
	width: 30%;
	align-items: center;
	margin-top: 0;
}
.btn--compra{
	padding: 5px 10px;
}
.compra-box-wrapper--bd0{
	border-bottom: none;
}
.wrapper{
	display: flex;
}
.btn--compra-grey{
	width: 50%;
	text-align: center;
	color: #000;
	font-size: 14px;
}
.btn--compra-grey.active{
	color: #fff;
	padding: 7px 0;
	background-color: #706F6F;
	border-radius: 7px;
}
.wrapper--compra-btn{
	margin-top: 50px;
	align-items: center;
}
.footer{
	padding: 30px 0 30px 0;
	background-color: #2057A4;
}
.footer__heading{
	font-size: 15px;
	color: #fff;
	margin-right: 25px;
}
@media(max-width: 470px){
	.pirule-box{
		width: 100%;
		margin
	}
	.pirule-box--mgr {
	    margin-right: 0px;
	    margin-bottom: 30px;
	}
	.pirule-box--mgl {
	    margin-left: 0px;
	}
	.pirule-box-wrapper,
	.wrapper--compra-btn{
		flex-wrap: wrap;
	}
	.btn--compra-grey{
		width: 100%;
		margin-bottom: 20px;
	}
}
/*page 10 end*/
.logo-wrapper{
	display: flex;
	align-items: center;
}
.container-big--pd0{
	max-width: 545px;
}
@media(max-width: 542px){
	.container-big--pd0 br{
		display: none;
	}
}
/*page 11*/
.container-Conoces{
	max-width: 574px;
}
.logo__Conoces{
	width: 20%;
}
.logo-conces{
	text-align: end;
}
.body-wrapper-Conoces{
	background: url(images/top-desighn.png) no-repeat center top;
	text-align: center;
}
.header-Conoces{
	padding: 30px 0 0 0;
}
.header-conces__heading{
	font-size: 36px;
	text-align: left;
	color: #fff;
	margin-top: -7px;
	margin-bottom: 60px;
}
.conoces__para{
	font-size: 18px;
	color: #000;
	text-align: initial;
	margin-bottom: 10px;
}
.conoces__para--mgt{
	margin-top: 30px;
	margin-bottom: 20px;
}
.conoces__heaading{
	font-size: 26px;
	color: #2057a4;
	margin-bottom: 10px;
}
.conoces-box-text{
	width: calc(100% - 66px);
	padding-left: 10px;
	text-align: initial;
}
.conoces-box__heading{
	font-size: 24px;
	color: #2057a4;
	margin-bottom: 5px;
}
.conoces-box__para{
	font-size: 15px;
	color: #878787;
	margin-bottom: 5px;
}
.wrapper--conoces{
	align-items: center;
	margin-bottom: 5px;
}
.conoces-box__devider{
	border:none;
	height:  1px;
	width: 100%;
	background: linear-gradient(to right, rgba(177, 233, 249,1), rgba(135, 192, 234, 1));
}
.wrapper--conoces{
	align-items: center;
}
.btn--comoces{
	width: 30%;
	font-size: 11px;
}
.bottom-design{
	margin-top: -80px;
	margin-bottom: -4px;
}
.comoces-footer__logo{
	transform: translateY(27px);
}
@media(max-width: 542px){
	.header-conces__heading{
		font-size: 20px;
		margin-top: 15px;
	}
	.conoces__para {
		font-size: 12px;
		margin-bottom: 20px;
	}
	.conoces__para--mgt {
    	margin-top: -27px;
    	margin-bottom: 10px;
	}
	.conoces__heaading,
	.conoces-box__heading {
		font-size: 18px;
	}
	.conoces__para--mgt2{
		margin: 0
	}
	.wrapper--mgb-r{
		margin-bottom: 20px;
	}
	.wrapper--mgt-r{
		margin-top: 20px;
	}
	.btn--comoces {
    	width: 40%;
    }
    .bottom-design {
    	margin-top: -40px;
	}
	.comoces-footer__logo{
		transform: translateY(15px);
	}
}
/*page 11 end*/