*{
	box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html {
	scroll-behavior: smooth !important;
}


h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: 500;
}
img{
	max-width: 80%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.btn{
	border:none;
	outline: none;
	display: inline-block;
}
.container{
	max-width: 1080px;
	margin:0 auto;
	padding: 0 15px;
}
.container-login{
    max-width: 1080px;
}
.container-welcome{
    max-width: 1080px;
    margin:0 auto;
    padding: 0 15px;
}

.header{
	/* padding: 65px 0 0px 0;*/
	background-image:linear-gradient(to bottom,
		rgba( 44, 66, 149, 0.03), rgba(44, 66, 149, 0)),url('images/hero.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


.swal2-title {
   font-size: 0.875em;
 }
.swal2-styled.swal2-confirm {
    font-size: 0.8em;
}
.logo__img{
	margin-bottom: 0px;
}
.header__heading{
	font-size: 32px;
	color: #fff;
	margin-bottom: 45px;
	font-weight: 600;
}
.horizontal-line{
	border: 1px solid #fff;
    width: 100px;
    margin-bottom: 45px;
}
.header__sub-heading{
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}
.form{
	position: relative;
	opacity: 0.8;
}
.form_factura{
	position: relative;
	opacity: 0.8;
	display: none;
}
.form_factura.active{
	position: relative;
	opacity: 0.8;
	display: block;
}
.form__search {
    width: 73.5%;
    font-size: 14px;
    color: #575756;
    border:none;
    border-radius: 40px;
    padding: 15px 0;
    position: relative;
    padding-left: 30px;
    box-sizing: border-box;
    outline: none;
	margin-bottom: 20px;
	
	box-sizing: none !important;
}
.form__search-btn:before {

	box-sizing: none !important;
    content: '';
    background: url(./images2/search.png) no-repeat center center;
    background-color: #9C9C9C;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 15%;
	top: 7px;
	cursor: pointer;

}

.form__search-btn2:before {

	box-sizing: none !important;
    content: '';
    background: url(./images/spinner-icon-gif-19.jpg)no-repeat center center;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 15%;
	top: 7px;
	cursor: pointer; 
}
.btn-header{
	padding: 7px 55px;
	background-color: #211922;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 60px;
}
.nav{
	display: flex;
	align-items: center;
	background-color: #211922;
	padding: 24px 0;
}
.nav__list{
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out 0.5s;
}
.nav__listlink{
	padding: 0 55px;
	font-size: 16px;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	transition: all ease-in-out 0.2s;
	border-right: 1px solid #fff;
}
.nav__listlink--border-none{
	border-right: none;
}
.nav__toggler{
	display: none;
}
.nav__icone{
	border-bottom: 3px solid #fff;
	width: 45px;
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}
.nav__icone--mb0{
	margin-bottom: 0;
}
/*header end*/
/*media section*/
.media{
	position: relative;
	background:url('./video/poster.jpeg')no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.media__video{
	width: 100%;
	height: auto;
	position: relative;
}
.play-icone__play-btn{
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}
/*questions start*/
.questions{
	padding-top: 40px;
}
.questions__wrapper{
	display: flex;
}
.questions__heading{
	font-size: 22px;
	color: #211922;
	text-align: center;
	font-weight: 600;
	margin-bottom: 55px;
}
.questions__list{
	width: 33.33%;
	padding-right: 43px;
}
.accordian{
	margin-bottom: 35px;
}
.accordian__icone{
	color: #878787;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.accordian__icone.active{
	color: #211922;
}
.accordian__icone:before{
	content: '';
	width: 10px;
	height: 10px;
	background: url('./images/icons2.png') no-repeat center center;
	padding: 2px;
	background-color: #878787;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.accordian__icone.active:before{
	background: url('./images/icons.png') no-repeat center center;
	transform: rotate(90deg);
	transition: all 0.2s ease-in-out;
}
.accordian__para{
	font-size: 11px;
    color: #000;
    display: none;
	margin-left:24px;
	margin-bottom: 20px; 

}
.accordian__para.active{
	display: block;
	color: #211922;
}
.accordian__devider{
	border: 1px solid #878787;
    width: 97%;
}
/*questions end*/
/*customer*/
.customer{
	background-color: #EDEDED;
	padding: 30px 0 80px 0;
}
.customer__heading{
	font-size: 22px;
	color: #211922;
	text-align: center;
	margin-bottom: 57px;
	font-weight: 600;
}
.customer__wrapper{
	display: flex;
	justify-content: space-between;
}
.customer__logo{
	max-width: 100%;
}
/*customer end*/
/*credit*/
.credit{
	padding: 55px 0 85px 0;
}
.credit__heading{
	font-size: 22px;
	font-weight: 600;
	color: #211922;
	text-align: center;
	margin-bottom: 53px;
}
.credit__wrapper{
	display: flex;
	justify-content: center;
}
.box{
	width: 26.7%;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px rgb(140,143,147,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin: 0 12px;
}
.box__top{
	background-color: #211922;
	padding: 22px 70px 18px 70px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align: center;
}
.box__heading{
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
.box__price{
	font-size: 22px;
	font-weight: 600;
	color: #009FE3;
	margin: 45px auto 32px auto;
}
.btn--box{
	border-radius: 25px;
	border:2px solid  #211922;
	padding: 5px 20px;
	font-size: 10px;
	width: 34%;
	color: #211922;
	margin:0 auto 25px auto;
	display: flex;
	justify-content: center;
}
/*credit end*/
.contact{
	background-color: #ededed;
	text-align: center;
	padding: 53px 0 0 0;
}
.contact__heading{
	font-size: 21px;
	text-align: center;
	color: #211922;
	font-weight: 600;
	margin-bottom: 15px;
}
.contact__link{
	display: flex;
	flex-direction: column;
}
.contact__text{
	color: #3C3C3B;
	font-size: 18px;
	margin-bottom: 17px;
}
.contact__img{
	margin-bottom: 10px;
}
#googleMap{
	width: 100%;
	height: 490px;
}
.contact__link--mgb{
	margin-bottom: 40px;
}
/*contact end*/
/*footer*/
.footer{
	background-color: #211922;
	padding: 33px 0 73px 0;
}
.footer__para{
	text-align: center;
	color: #DADADA;
	font-size: 10px;
	line-height: 1.4;
}
.footer__para--mgb{
	margin-bottom: 17px;
}
.footer-list{
	display: flex;
	justify-content: center;
}
.footer-list--mgb{
	margin-bottom: 35px;
}
.footer-list__link{
	font-size:14px;
	color:#fff;
}
.footer-list__link--mgr{
	margin-right: 0px;
}
.footer-list__link--mgr2{
	margin-right: 10px;
}
/*footer end*/
@media (max-width: 1024px){
	.container{
		max-width: 675px;
	}
	.header__heading{
		padding: 0 105px;
	}
	.questions__wrapper{
		flex-wrap: wrap;
	}
	.questions__list{
		width: 50%;
	}
	.customer__wrapper{
		flex-wrap: wrap;
		text-align: center;
	}
	.customer__logo,
	.box{
		width: 50%;
	}

}
@media (max-width: 767px){
	.container{
		max-width:400px;
	}
	.logo__img{
		width: 50%;
	}
	.header__heading{
		padding: 0;
	}
	.form__search{
		width: 100%;
		font-size: 13px;
		padding-left: 15px;
	}
	.form__search-btn:before {
        right: 3%;

	}
	.form__search-btn2:before {
        right: 3%;

	}
	.nav__list{
		display: none;
	}
	.nav{
		position: relative;
	}
	.nav__list.active{
		display: flex;
		flex-direction: column;
		width: 100%;
		position: absolute;
		z-index: 1;
		top: 72px;
		background-color: #211922;
		left: 0;
		padding: 50px 0;
	}
	.nav__listlink{
		border:none;
	}
	.nav__listitem{
		margin-bottom: 35px;
	}
	.nav__listitem--mb0{
		margin-bottom: 0;
	}
	.nav__toggler{
		display: block;
	}
	.questions__heading{
		font-size: 20px;
		text-anchor: initial;
	}
	.customer__heading{
		text-anchor: initial;
	}
	.questions__list{
		width: 100%;
		padding: 0;
	}
	.customer__logo{
    	width: 100%;
	}
	.customer__logo{
		margin-bottom: 45px;
	}
	.customer__logo--mb0{
		margin-bottom: 0;
	}
	.credit__wrapper{
		justify-content: space-between;
		overflow-x: scroll;
	}
	.box{
		width: 47%;
		margin: 0;
	}
	.box__heading{
		font-size:  14px;
	}
	.box__top{
		padding:20px ;
	}
	.btn--box{
		width: 65%;
	}
	.contact__heading{
		margin-bottom: 35px;
	}
	.contact__text
	{
		margin-bottom: 25px;
	}
	.footer__para--mgb {
    	margin-bottom: 35px;
	}
	.footer-list--mgb{
		flex-direction: column;
		text-align: center;
	}
	.footer-list__link--mgr{
		margin-right: 0;
	}
	.footer-list__item-mb{
		margin-bottom: 20px;
	}
}

@media (max-height: 736px){
	.header__heading {
		font-size: 17px;
		color: #fff;
		margin-bottom: 15px !important;
		font-weight: 600;
	}
	.horizontal-line {
		border: 1px solid #fff;
		width: 100px;
		margin-bottom: 27px;
	}

	.mails-header-logo__img {
		width: 21% !important;
		height: auto;
	}
}
/*index page end*/
.mails-header{
	background-color: #211922;
	display: flex;
	position: relative;
	padding: 35px 0 30px 0;
}
.mails-header-logo__img{
	width: 71%;
	height: auto;
}
.logo-box{
	text-align: center;
}
.close-box{
	width: 20px;
	height: 20px;
	border:1px solid #fff;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	cursor: pointer;
}
/*header end*/
.register{
	padding: 55px 0 20px 0;
}
.register__heading{
	text-align: center;
	font-size: 66px;
	color: #211922;
	margin-bottom: 28px;
}
.register__sub-heading{
	font-size: 30px;
	color: #211922;
	text-align: center;
	margin-bottom: 50px;
}
.register__wrapper{
	display: flex;
}
.reg-left,
.reg-right{
	width: 50%;
}
.reg-left{
	padding:15px 40px 55px 0;
}
.reg-left__heading{
	font-size: 40px;
	color: #211922;
	text-align: left;
	margin-bottom: 25px;
}

.reg-line{
	border-bottom: 8px solid #211922;
	width: 64px;
	text-align: left;
	margin-bottom: 50px;
}
.checkbox-wrapper{
	display: flex;
	margin-bottom: 27px;
}
.check-box--mr{
	margin-right: 29px;
}
.check-box {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hiding the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border:1px solid #C6C6C6;
}
/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: #C6C6C6;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-box .checkmark:after {
  width: 10px;
  height: 10px;
  top: 4px;
  left:4px;
  background-color: #C6C6C6;
  align-items: center;
  justify-content: center;
}
.check-box__text{
	font-size: 20px;
	color: #c6c6c6;
}
.input-wrapper{
	display: flex;
	align-items: flex-end;
	padding: 0 0 20px 0;
}
.input-icone{
	width: 8%;
	margin-right: 14px;
}
.input-country{
	padding: 4px 0;
	color: #211922;
	font-size: 18px;
	width: 13%;
	border:none;
	outline: none;
	border-radius: 5px;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	margin-right: 12px;
}
.input{
	font-size: 14px;
	padding: 8px 0;
	/*color: #C6C6C6;*/
	width: 96%;
	border:none;
	outline: none;
	border-bottom: 1px solid #c6c6c6;
	background: transparent;
}
.input--sm{
	width: 82%;
}
.btn-wrapper{
	display: flex;
	align-items: center;
}
.btn--media{
	width: 50%;
	font-size: 16px;
	color: #fff;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.google{
	padding: 12px 0;
	margin-right: 10px;
	background-color: #BE1622;
}
.facebook{
	background-color: #211922;
	padding: 8px 0;
	margin-left: 10px;
}
.google-icone{
	margin-right: 15px;
}
.btn--form-submit{
	padding: 7px 0;
	width: 100%;
	font-size: 17px;
	color: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #706F6F;
}
.reg-right{
	background-color: #EDEDED;
	padding: 42px 30px 50px 42px;
	border-radius: 15px;
}
.reg-right__heading{
	font-size: 32px; /*27*/
	color: #211922;
	margin-bottom: 23px;
}
.reg-right__sub-heading{
	font-size: 20px;
	color: #9d9d9d;
	margin-bottom: 15px;
}
.btn--full{
	width: 100%;
	margin-left: 0;
	padding-left: 43px;
	justify-content: flex-start;
}
.google-icone--fb{
	margin-right: 33px;
	margin-bottom: -2px;
}
.input--full{
	width: 96%;
}
.btn--form-mgt{
	margin-top: 42px;
}
@media(max-width: 1024px){
	.register__heading {
		font-size: 50px;
	}
	.register__sub-heading{
		font-size: 20px;
	}
	.reg-left__heading{
		font-size: 24px;
	}
	.check-box__text{
		font-size: 10px;
	}
	.checkmark{
		top: 7px;
	}
	.input-country{
		width: 25%;
	}
	.input--sm{
		width: 71%;
	}
	.btn-wrapper{
		flex-wrap: wrap;
	}
	.facebook{
		margin-left: 0;
	}
	.google{
		margin-right: 0;
	}
	.btn--media{
		width: 100%;
	}
	.btn--form-mgt{
		margin-top: 45px;
	}
}
@media(max-width: 767px){
	.register__heading {
	    font-size: 26px;
	}
	.register__sub-heading {
    	font-size: 11px;
	}
	.register__wrapper{
		flex-wrap: wrap;
	}
	.reg-left, .reg-right{
		width: 100%;
	}
	.reg-left{
		padding-right: 0;
	}
	.reg-right{
		padding: 42px 15px 50px 15px;
	}
	.register{
		padding: 0px;
	}
	.register__sub-heading{
		margin-bottom: 30px;
	}
	.reg-line{
		margin-bottom: 30px;
	}
	.reg-left__heading{
		margin-top:20px;
		margin-bottom: 15px;
	}
	.btn--form-mgt{
		margin-top: 30px;
	}
	.reg-right__heading{
		font-size: 20px;
	}
	.reg-right__sub-heading{
		font-size: 14px;
	}
	.header__sub-heading{
		font-size: 14px;
		color: #fff;
		margin-bottom: 20px;
	}
	.header__heading {
		font-size: 17px;
		color: #fff;
		margin-bottom: 45px;
		font-weight: 600;
	}
}
/*pago page 1*/
.header--pago{
	padding: 120px 0 65px 0;
}
.logo__img--pago{
	width: 29%;
	margin-bottom: 20px;
}
.header__heading--pago{
	margin-bottom: 0;
}
.btn--star{
	font-size: 20px;
	color: #fff;
	background-color: #211922;
	border-radius: 20px;
	padding: 5px 20px;
	position: absolute;
	top: 40px;
	right: 50px;
	display: flex;
	align-items: center;
}
.img-star{
	margin-left: 63px;
}
.register__mini-heading{
	font-size: 15px;
	color: #211922;
	text-align: left;
	margin-bottom: 30px;
}
.input--full{
	width: 100%;
}
.input--lf{
	width: 45%;
}
.input--rt{
	width: 45%;
}
.input-wrapper--sbtw{
	justify-content: space-between;
}
.reg-left--pago{
	padding-right: 125px;
}
.reg-right--pago{
	background-color: #fff;
	padding-left: 65px;
}
.input--lock{
	border: 1px solid #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lock{
	margin-right: 20px;
}
.slect-label{
	font-size: 12px;
	color: #878787;
	margin-bottom: 7px;
}
.slect-method{
	font-size: 14px;
	color: #878787;
	width: 100%;
	padding: 5px;
	border-radius: 8px;
	margin-bottom: 20px;
}
.input-country-2{
	width: 20%;
}
.input--sm-2{
	width: 80%;
}
.input-select{
	width: 43%;
	margin: 0 10px;
}
.input-wrapper-c{
	justify-content: center;
	align-items: center;
}
.input-select--rt{
	display: flex;
}
.wallet-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.wallet-error{
	margin-right: 10px;
}
.wallet-error-img{
	position: absolute;
	top: -17px;
	right: calc(50% - 1px);
}
.btn-pago{
	width: 20%;
	margin: 0 10px;
}
.wrapper{
	display: flex;
}
.btn--blue{
	background-color: #211922;
}
.input--half{
	width: 42%;
	border:1px solid #C6C6C6;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 1024px){
	.reg-left--pago{
		padding-right: 15px;
	}
	.reg-right--pago {
		padding-left: 15px;
		padding-right: 0;
	}
	.check-box{
		font-size: 25px;
	}
	.img-star {
	    margin-left: 30px;
	    width: 10%;
	}
	.btn--star {
    	font-size: 15px;
    	padding-right: 14px;
	}
	.input-country-2 {
    	width: 21%;
		font-size: 15px;
	}
	.input--sm-2{
		width: 79%;
	}
	.input--lock{
		font-size: 12px;
	}
	.input-icone {
    	width: 10%;
	}
	.slect-label{
		font-size: 10px;
	}
	.input-select {
    	width: 44%;
	}
	.input--half{
		width: 50%;
	}
	.btn-pago{
		width: 23.5%;
	}
}
@media(max-width: 767px){
	.btn--star {
    	font-size: 12px;
    	padding-right: 5px;
    	top: 25px;
    	right: 20px;
	}
	.reg-left--pago {
	    padding-right: 0px;
	    padding-bottom: 0;
	}
	.reg-right--pago {
	    padding-left: 0px;
	    padding-bottom: 0;
	}
	.input--lock {
	    font-size: 10px;
	}
	.input-country-2{
	    font-size: 12px;
	}
	.input-select--lft{
		width: 60%;
	}
	.input-select--rt{
		width: 40%;
	}
	.input--half {
	    width: 100%;
	}
	.btn-pago {
	    width: 42.5%;
	}
	.input--half{
		font-size: 12px;
	}
}
/*pago page 1 end*/
.btn-mersado{
	width: 50%;
    text-align: center;
    color: #706F6F;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 7px;

}
.btn-mersado:not(:last-child){
	margin-right: 20px;
}
.btn-mersado.active{
	background-color: #706F6F;
	color: #fff;
}
.wrapper-btn-mersado{
	padding-top: 45px;
}
@media(max-width: 1024px){
	.btn-mersado{
		font-size: 12px;
	}
}
@media(max-width: 767px){
	.btn-mersado{
		font-size: 10px;
	}
}
.thanku{
	text-align: center;
	padding: 100px 0 140px 0;
}
.thanku-2{
	padding: 0px 0 75px 0;
}
.input-half{
	width: 50%;
}
.thanku__para{
	font-size: 30px;
	color: #575757;
	margin-bottom: 80px;
}
.btn-thanku{
	margin: 0 auto;
	background-color: #706F6F;
	color: #fff;
	width: 20%;
	margin-top: 50px;
}
.from--register{
	text-align: center;
}
.thanku-png{
	margin-bottom: 50px;
}
.thanku__heading{
	font-size: 40px;
	color: #211922;
	margin-bottom: 45px;
}
.thanku__para-mgb{
	margin-bottom: 0px;
}
@media(max-width: 767px){
	.thanku__para{
		font-size: 13px;
	}
	.input-half{
		width: 100%;
	}
	.btn-thanku{
		width: 40%;
		margin-top: 40px;
	}
	.thanku__heading{
		font-size: 18px;
	}
	.thanku-png{
		width: 30%;
	}
	.thanku{
	text-align: center;
	padding: 80px 0 100px 0;
	}
	.thanku-2{
		padding: 15px 0 35px 0;
	}
}
