/*
Theme name:;
autor:ahsan;
*/
@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Bold.woff2') format('woff2'),
        url('fonts/Archivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Medium.woff2') format('woff2'),
        url('fonts/Archivo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Regular.woff2') format('woff2'),
        url('fonts/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body {
	background: #fff;
	font-family: 'Archivo';
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.btn{
	border:none;
	outline: none;
	display: inline-block;
	cursor: pointer;
}

.wrapper{
	display: flex;
}
.tipos-informe{
	padding: 40px 0 60px 0;
}
.tipos-informe__heading{
	font-size: 28px;
	margin-bottom: 35px;
	text-align: center;
	color: #2057a4;
	font-weight: 500;
}
.grey{
	background-color: #ececec;
}
.mgl-4{
	padding-left: 40px !important;
}
.last-row{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom: none;
}
.last-col-l{
	border-bottom-left-radius: 25px;
}
.last-col-r{
	border-bottom-right-radius: 25px;
}
.table-c{
	padding: 50px 0;
}
.container-c{
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}
.table-c__heading{
	text-align: center;
	font-size: 27px;
	color: #2057a4;
	margin-bottom: 40px;
}
.table-c__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.price-box{
	width: 30%;
	border: 1px solid #dadada;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
}
.price-box__header{
	background-color: #2057a4;
	padding: 30px 0;
	text-align: center;
	box-shadow: 0px 6px 10px #d6d6d6;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.price-box__heading{
	color: #fff;
	font-size: 19px;
}
.price-box__credit{
	display: flex;
	padding: 20px 10px;
	border-bottom: 1px solid #dadada;
	align-items: center;
  justify-content: center;
}
.pdt-5{
	padding-top: 35px;
}
.bd-n{
	border-bottom: none;
	padding-bottom: 45px;
}
.price-box__left{
	width: 65%;
	text-align: initial;
}
.price-box__right{
	width: 35%;
	text-align: initial;
}
.price-box__price{
	font-size: 23px;
	color: #009fe3;
}
.credit__info{
	font-size: 18px;
	font-weight: 500;
	color: #2057a4;
	font-family: 'Archivo';
	padding-left: 10px;
}
.price-box-btn{
	background-color: #2057a4;
	border-radius: 25px;
	border: none;
	outline: none;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;
	font-size: 9px;
	font-family: 'Archivo';
	justify-content: center;
	margin-bottom: 35px;
  font-size: 15px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 8px 0px rgba(186,186,186,1);
}

@media (max-width: 1200px){
	.mgl-4 {
	    padding-left: 30px !important;
	}
}
@media (max-width: 1024px){
	.mgl-4 {
	    padding-left: 30px !important;
	}
	.mgb-low{
		margin-bottom: 12px;
	}
}
@media (max-width: 990px){
	.price-box {
    	width: 45%;
    	margin-bottom: 50px;
	}
	.table-c__wrapper{
		justify-content: space-evenly;
	}
}
@media (max-width: 767px){
	.price-box {
    	width: 100%;
    }


}